/*@import url(./antd.css);*/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* 全局css变量 */
  --ab-green-100:#ECFAF4;
  --ab-green-200:#C7F0DF;
  --ab-green-300:#82EDC0;
  --ab-green-400:#45DE9D;
  --ab-green-500:#0BD07D;
  --ab-green-600:#00B96B;
  --ab-green-700:#009456;
  --ab-green-800:#00663B;
  
  --ab-white-100:#fff;
  --ab-white-200:#e9ecef;
  
  --ab-grey-100:#f4f4f5;
  --ab-grey-200:#e4e4e7;
  --ab-grey-300:#d4d4d8;
  
  --ab-black-100:#495057;
  --ab-black-200:#343a40;
  --ab-black-300:#212529;
  
  --ab-theme:var(--ab-green-600);
  
  --ab-padding-x:2rem;
  --ab-nav-height:3.5rem;
  
  --ab-main-header-height:3rem;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
 /* background-color: #000;
  color: #fff;*/
}

ul{
  list-style: none;
  padding:0;
}

.ab_container{
  position: absolute;
  top:var(--ab-nav-height);
  left:0;
}

@media screen and (max-width:768px) {
  h1{
    font-size:2.5rem;
  }
}

@media screen and (min-width:768px) {
  h1{
    font-size:3rem;
  }
}
