:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* 全局css变量 */
  --ab-green-100:#ECFAF4;
  --ab-green-200:#C7F0DF;
  --ab-green-300:#82EDC0;
  --ab-green-400:#45DE9D;
  --ab-green-500:#0BD07D;
  --ab-green-600:#00B96B;
  --ab-green-700:#009456;
  --ab-green-800:#00663B;

  --ab-white-100:#fff;
  --ab-white-200:#e9ecef;

  --ab-grey-100:#dee2e6;
  --ab-grey-200:#ced4da;
  --ab-grey-300:#adb5bd;

  --ab-black-100:#495057;
  --ab-black-200:#343a40;
  --ab-black-300:#212529;

  --ab-theme:var(--ab-green-600);

  --ab-padding-x:2rem;
}

body {
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  letter-spacing: 2px;
}
h1,h2,h3,h4,h5,h6{
  margin:1rem;
}

@media screen and (max-width:768px) {
  h1{
    font-size:2.5rem;
  }
}
